/* Global */
:root{
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-grey: #616161;
  --color-blue: #73aace;
  --color-yellow: #fff7d1;
  --color-orange: #feb546;
  --color-black: #000000;

  /* Font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Size */
  --size-border-radius: 10px;
  --size-active-radius: 24px;

  /* Animation duration */
  --animation-duration: 1000ms;
}

/* Universal tags */
*{
  box-sizing: border-box;
}

body {
  font-family: 'Black Han Sans', sans-serif;
  font-family: 'Jua', sans-serif;
  cursor:default;
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--color-dark-white);
}

ul {
  list-style: none;
  padding-left: 0;
}

li{
  list-style: none;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

/* Typography */
h1{
    font-size: var(--font-large);
    font-weight: var(--weight-bold);
    color: var(--color-black);
    margin: 16px 0px;
}

h2{
    font-size: var(--font-regular);
    font-weight: var(--weight-semi-bold);
    color: var(--color-blue);
    margin: 8px 0px;
}

h3{
  font-size: var(--font-regular);
  font-weight: var(--font-regular);
  color: var(--color-black);
  margin: 8px 0px;
}

h4{
  font-size: var(--font-regular);
  font-weight: var(--font-regular);
  color: var(--color-black);
  margin: 4px 0px;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--font-regular);
  color: var(--color-black);
  margin: 4px 0;
}

/* Navbar */
#navbar {
  display: flex;
  justify-content: space-between;
  background-color: rgb(255, 236, 211);
  align-items: center;
  color: var(--color-dark-white);
  padding: 16px;
}

.navbar__menu {
  display: flex;
}

.navbar__menu__item {
  padding: 8px 12px;
  margin: 0 4px;
  cursor: pointer;
  border-radius: var(--size-border-radius);
}

.navbar__menu__item.active {
  border: 1px solid var(--color-dark-white);
}

.navbar__logo {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color:darkgray;
}

.navbar__menu__item:hover {
  background-color: rgb(231, 222, 210);
  border-radius: var(--size-active-radius);
}

/* Home */
#home {
  background: url("imgs/backGround_morning.png") center/cover no-repeat;
  padding: 40px;
  text-align: center;
}

.home__avatar {
  width: 240px;
  height: 300px;
  border-radius: 30%;
  border:2px solid var(--color-light-white);
}

.home__title,
.home__description {
  color: lightgray;
}

/* Section common */
.section {
  padding: 50px;
  text-align: center;
  margin: auto;
}

.section_container {
  max-width: 1200px;
  margin: auto;
}

.about__majors {
  display: flex;
  justify-content: space-between;
  margin: 80px 0;
}

.major__icon {
  width: 170px;
  height: 170px;
  line-height: 170px;
  font-size: 70px;
  background-color: lightgoldenrodyellow;
  margin: auto;
  color: var(--color-blue);
  border: 1px solid var(--color-dark-white);
  border-radius: 50%;
  margin-bottom: 16px;
}

.major__icon i{
  transition: all var(--animation-duration) ease;
}

.major__icon:hover i {
  color: limegreen;
  transform: rotate(25deg) scale(1.4);
}


.major__title, .major__description {
  color: darkblue;
}

.major__description {
  font-size: small;
}

/* Skill */

#skill {
  background-color: rgba(202, 245, 194, 0.555);
}

.skillset {
  display: flex;
  background-color: rgba(156, 154, 154, 0.555);
  color: rgba(234, 255, 230, 0.603);
  margin: 20px 0;
}

.skillset__title {
  color:var(--color-white);
}

.skillset__left {
  flex-basis: 60%;
  background-color: lightgray;
  padding: 20px 50px;
}

.skill {
  margin-bottom: 10px;
}

.skill__description {
  display: flex;
  justify-content: space-between;
}

.skill__bar {
  width: 100%;
  height: 3px;
  background-color: rgba(128, 128, 128, 0.281);
}

.skill__value {
  width: 100%;
  height: 3px;
  background-color: lightpink;
}

.skillset__right {
  flex-basis: 40%;
  background-color: rgba(156, 154, 154, 0.555);
}

.tools {
  background-color: gray;
}

.tools, .etc {
  padding: 20px;
}